In [1]:
import numpy as np
import pandas as pd

In [2]:
Ti_Palik = pd.read_csv('Ti_Palik.csv')
Ti_Rakic_LD_n = pd.read_csv('Ti_Rakic-LD_n.csv')
Ti_Rakic_LD_k = pd.read_csv('Ti_Rakic-LD_k.csv')
Ti_Rakic_BB_n = pd.read_csv('Ti_Rakic-BB_n.csv')
Ti_Rakic_BB_k = pd.read_csv('Ti_Rakic-BB_k.csv')
Ti_Ordal = pd.read_csv('Ordal.csv')

In [3]:
Ti_Palik = Ti_Palik.rename({'Wavelength': 'wl'}, axis='columns')

In [4]:
Ti_Palik.head()

         wl     n     k
0  0.000002  4.66  3.83
1  0.000002  4.71  3.77
2  0.000002  4.74  3.71
3  0.000002  4.75  3.62
4  0.000002  4.73  3.50

In [5]:
Ti_Rakic_LD_n.head()

        wl        n
0  0.24797  0.44635
1  0.24917  0.44979
2  0.25038  0.45327
3  0.25159  0.45679
4  0.25281  0.46035

In [6]:
Ti_Rakic_LD_k.head()

        wl       k
0  0.24797  1.5069
1  0.24917  1.5166
2  0.25038  1.5263
3  0.25159  1.5361
4  0.25281  1.5458

In [7]:
Ti_Rakic_LD = pd.merge(Ti_Rakic_LD_n, Ti_Rakic_LD_k, on='wl')

In [8]:
Ti_Rakic_LD['wl'] = Ti_Rakic_LD['wl'] * 1e-6

In [9]:
Ti_Rakic_LD.head()

             wl        n       k
0  2.479700e-07  0.44635  1.5069
1  2.491700e-07  0.44979  1.5166
2  2.503800e-07  0.45327  1.5263
3  2.515900e-07  0.45679  1.5361
4  2.528100e-07  0.46035  1.5458

In [10]:
Ti_Rakic_BB = pd.merge(Ti_Rakic_BB_n, Ti_Rakic_BB_k, on='wl')

In [11]:
Ti_Rakic_BB['wl'] = Ti_Rakic_BB['wl'] * 1e-6

In [12]:
Ti_Rakic_BB

               wl         n        k
0    2.479700e-07   0.18885   1.4035
1    2.540600e-07   0.19618   1.4617
2    2.603000e-07   0.20410   1.5216
3    2.666900e-07   0.21269   1.5835
4    2.732400e-07   0.22214   1.6477
5    2.799500e-07   0.23275   1.7146
6    2.868300e-07   0.24492   1.7846
7    2.938700e-07   0.25928   1.8581
8    3.010900e-07   0.27664   1.9353
9    3.084800e-07   0.29798   2.0161
10   3.160600e-07   0.32441   2.1005
11   3.238200e-07   0.35707   2.1878
12   3.317700e-07   0.39701   2.2770
13   3.399200e-07   0.44504   2.3668
14   3.482700e-07   0.50164   2.4557
15   3.568200e-07   0.56684   2.5419
16   3.655900e-07   0.64024   2.6237
17   3.745700e-07   0.72099   2.6994
18   3.837700e-07   0.80782   2.7678
19   3.931900e-07   0.89920   2.8277
20   4.028500e-07   0.99337   2.8785
21   4.127400e-07   1.08850   2.9201
22   4.228800e-07   1.18280   2.9525
23   4.332600e-07   1.27450   2.9764
24   4.439000e-07   1.36220   2.9928
25   4.548100e-07   1.44480   3.0028
26   4.659800e-07   1.52130   3.0078
27   4.774200e-07   1.59110   3.0093
28   4.891500e-07   1.65420   3.0088
29   5.011600e-07   1.71050   3.0077
..            ...       ...      ...
170  1.533700e-05  11.56000  25.6730
171  1.571300e-05  11.89200  26.1400
172  1.609900e-05  12.23400  26.6100
173  1.649400e-05  12.58500  27.0830
174  1.690000e-05  12.94400  27.5570
175  1.731500e-05  13.31300  28.0340
176  1.774000e-05  13.69100  28.5130
177  1.817600e-05  14.07800  28.9930
178  1.862200e-05  14.47300  29.4750
179  1.907900e-05  14.87800  29.9590
180  1.954800e-05  15.29100  30.4440
181  2.002800e-05  15.71300  30.9300
182  2.052000e-05  16.14300  31.4180
183  2.102400e-05  16.58200  31.9070
184  2.154000e-05  17.02900  32.3960
185  2.206900e-05  17.48400  32.8870
186  2.261100e-05  17.94800  33.3790
187  2.316600e-05  18.41900  33.8720
188  2.373500e-05  18.89800  34.3650
189  2.431800e-05  19.38500  34.8590
190  2.491600e-05  19.88000  35.3550
191  2.552800e-05  20.38200  35.8500
192  2.615400e-05  20.89200  36.3470
193  2.679700e-05  21.40800  36.8450
194  2.745500e-05  21.93200  37.3430
195  2.812900e-05  22.46300  37.8420
196  2.882000e-05  23.00000  38.3430
197  2.952800e-05  23.54500  38.8440
198  3.025300e-05  24.09600  39.3460
199  3.099600e-05  24.65300  39.8490

[200 rows x 3 columns]

In [13]:
Ti_Ordal.loc[Ti_Ordal.wl == 'wl'].index

Int64Index([51], dtype='int64')

In [14]:
Ti_Ordal.iloc[:51]

       wl          n
0   0.667  2.3704320
1   0.714  2.5658703
2   0.769  2.8061078
3   0.833  3.1079186
4   0.909  3.3065327
5    1.00  3.3957928
6    1.05  3.4440424
7    1.11  3.5179021
8    1.18  3.6009322
9    1.25  3.6981480
10   1.33  3.8097162
11   1.43  3.9419174
12   1.54  4.0126191
13   1.67  4.2746437
14   1.82  4.4682212
15   2.00  4.6752372
16   2.11  4.7311251
17   2.22  4.7418094
18   2.35  4.6520327
19   2.50  4.3647610
20   2.67  3.8144105
21   2.86  3.0649496
22   3.08  2.4004043
23   3.33  2.3943002
24   3.64  2.5809283
25   4.00  2.7313635
26   4.44  2.8327334
27   5.00  2.3660792
28   5.71  2.1867059
29   6.67  2.4841185
30   8.00  3.2048691
31   10.0  4.0715739
32   11.1  4.5921948
33   12.5  5.2931800
34   14.3  6.2397504
35   16.7  7.5817542
36   20.0  9.6744916
37   22.2  11.217047
38   25.0  13.299690
39   28.6  16.284041
40   33.3  20.880752
41   40.0  27.169229
42   44.4  31.260311
43   50.0  36.217641
44   57.1  42.303853
45   66.7  49.906684
46   80.0  59.644857
47    100  72.530316
48    125  86.399911
49    154  100.49717
50    200  119.99544

In [15]:
Ti_Ordal = pd.merge(Ti_Ordal.iloc[:50], Ti_Ordal.iloc[51:], on='wl')

In [16]:
Ti_Ordal = Ti_Ordal.rename({'n_x': 'n', 'n_y': 'k'}, axis='columns')

In [17]:
pd.to_numeric(Ti_Ordal['wl'])

0       0.667
1       0.714
2       0.769
3       0.833
4       0.909
5       1.000
6       1.050
7       1.110
8       1.180
9       1.250
10      1.330
11      1.430
12      1.540
13      1.670
14      1.820
15      2.000
16      2.110
17      2.220
18      2.350
19      2.500
20      2.670
21      2.860
22      3.080
23      3.330
24      3.640
25      4.000
26      4.440
27      5.000
28      5.710
29      6.670
30      8.000
31     10.000
32     11.100
33     12.500
34     14.300
35     16.700
36     20.000
37     22.200
38     25.000
39     28.600
40     33.300
41     40.000
42     44.400
43     50.000
44     57.100
45     66.700
46     80.000
47    100.000
48    125.000
49    154.000
Name: wl, dtype: float64

In [18]:
Ti_Ordal['wl'] = pd.to_numeric(Ti_Ordal['wl']) * 1e-6
Ti_Ordal['n'] = pd.to_numeric(Ti_Ordal['n'])
Ti_Ordal['k'] = pd.to_numeric(Ti_Ordal['k'])

In [19]:
Ti_Ordal.to_csv('Ti_Ordal.csv', sep=',')
Ti_Rakic_LD.to_csv('Ti_Rakic_LD.csv', sep=',')
Ti_Rakic_BB.to_csv('Ti_Rakic_BB.csv', sep=',')

In [20]:
Ti_Rakic_BB.head()

             wl        n       k
0  2.479700e-07  0.18885  1.4035
1  2.540600e-07  0.19618  1.4617
2  2.603000e-07  0.20410  1.5216
3  2.666900e-07  0.21269  1.5835
4  2.732400e-07  0.22214  1.6477